.select-bar{
    // border:2px red solid;
    position: absolute;
}

.select-bar-a{
    // border:1px red solid;
    // min-height:50px;
    width:1800px;
    box-shadow:0 1px 1px #DDDDDD;
    ul.large-category{
        // border:1px blue solid;   
        display: inline-block;
        position: relative;
        min-height:100%;
        width:1400px;
        list-style:none;
        padding:0;
        transform:translateX(100px);
        li{
            // border:gray solid 1px;
            display: inline-block;
            height:100%;
            width:150px;
            text-align:center;
            line-height:45px;
            letter-spacing: 0.3em;
            font-size: 1.2em;
            cursor: pointer;
            margin: {
                left:0px;
                right:0px;
            }
            &:hover{
                background:rgba(238,238,238,0.6);
            }
        }
    }
    div.angle-select{
        position: relative;
        display: inline-block;
        // border:blue solid 1px;
        z-index:10;
        input{
            margin-left:30px;
        }
    }
}

.select-bar-b{
    @extend .select-bar-a; 
    // border:1px blue solid;
    min-height:50px;
    box-shadow:0 0px 1px #888888;
    ul.small-category{
        @extend ul.large-category;
        // border:1px black solid;
        li{
            font-size:1em;
        }
    }
}
