div.resume-nav{
    height:65px;
    width:100%;
    // border:1px red solid;
    // background-color:#ffff99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:0 2px 2px #cccccc;
    ul.resume-nav{
        height:100%;
        width:100%;
        list-style: none;
        padding-left:30px;
        // border:1px red solid;
        li{
            float:left;
            height:100%;
            margin-left:20px;
            padding-top:20px;
            vertical-align: top;
            font: {
                size:1.5em;
            }
            &:last-child{
                cursor: pointer;
            }
            input[type = "text"]{
                color:red;
            }
        }
    }
}
div.resume-content{
    position:relative;
    width:1400px;
    margin:20px auto;
    border:1px #fff solid;
    // border:3px #cccccc solid;
    border-radius:10px;
    box-shadow:0 0 5px #cccccc;
    div.inner-contents{
        position:relative;
        z-index:10;
        width:1200px;
        margin:20px auto; 
        border-radius: 5px;
        box-shadow: 0 0 1px #888888;
        &.xm-experience{
            // display:none;
            position:relative;
            z-index:1;
        }
        .clearbt{
            margin-bottom:0px;
        }
        form.basic-info{
            position:relative;
            // min-height:480px;
            margin-top:50px;
            // border:2px hotpink solid;
            .tr{
                margin:10px auto  50px 180px;
                &:last-child{
                    margin:auto;
                    height:50px;
                    // width:450px;
                    & > input[type = "submit"]{
                        position:relative;
                        left:50%;
                        transform:translateX(-50%);
                        height:50px;
                        width:200px;
                        font-size:1.3em;
                    }
                    & > div:first-child{
                        position:relative;
                        left:50%;
                        transform:translateX(-50%);   
                        height:100%;
                        width:410px;
                        display:inline-block;
                        input[type = "submit"]{
                            height:50px;
                            width:200px;
                            font-size:1.3em;
                        }
                    }
                }
            }
            .th{
                display: inline-block;
                // width:150px;
                font: {
                    size:1.5em;
                }
                margin:0 0 0 30px;
            }
            .td{
                font: {
                    size:1.5em;
                }
                margin:0px;
                .input{ // 抵抗bootstrap的样式
                    width:350px;
                    margin:10px 0 0 30px;
                }
                .select{
                    width:350px;
                    margin:10px 0 0 30px;
                }
                .text{
                    width:650px;
                    height:150px;
                    margin:10px 0 0 30px;
                }
            }
            div.radio{
                font-size:1.5em;
                margin-right:30px;
            }
            div.picture{
                position:absolute;
                top:0px;
                right:100px;
                height:250px;
                width:200px;
                // border:1px gray dotted;
                margin:0px;
                img.overlook{
                    display: block;
                    height:200px;
                    width:150px;
                    // border:1px red dotted;
                    box-shadow: 0 0 2px #888888;
                    margin:auto;
                }
                a.file{
                    position: relative;
                    display: block;
                    height:40px;
                    width:100px;
                    margin:10px auto;
                    span{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                    }
                    input[type = "file"]{
                        display:block;
                        color:black;
                        opacity: 0;
                        height:100%;
                        width:100%;
                    }                    
                }
                
            }

        }
    }
    
}

.main-container{
    &:after{
        content:"";
        display:block;
        clear:both;
    }
}

// #b{
//     display:none;
// }

ul.level-1{
    li{
        position:relative;
        // &:hover ul.level-2{
        //     display:block;
        // }
    }
}

ul.level-2{
    display:none;
    position:absolute;
    top:0%;
    left:100%;
    right:0px;
    border:1px gray solid;
    // height:200px;
    width:177.3px;
    list-style:none;
    padding:0;
    background:white;
    border-radius:5px;
    padding-top:10px;
    li{
        height:25.09px;
        padding-left:15px;
        &:hover{
            background:#EEEEEE;

        }
        a:link,a:visited,a:hover,a:active{
            display:block;
            text-decoration: none;
            background:transparent;
            
        }
    }
}

.submit-state-tip{
    display:none;
    position: absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    height:25px;
    width:200px;
    border-radius: 5px;
    color:white;
    text-align: center;
    line-height:25px;
    // background:gray;
    background:rgba(0,0,0,.5);
    z-index:1000;
    transition:bottom 1s, background 1s;
}
// .subtn-container:hover #submit-state-tip{
//     // bottom:100px;
//     // background:rgba(0,0,0,0);
//     animation:myfirst 1s;
//     animation-fill-mode:forwards;
//     display:block;
// }

@keyframes myfirst
{
    0%   {
        // display:block;
    }
    100%{
        // display:block;
        display:block;
        bottom:100px;
        background:rgba(0,0,0,0);
    }
}

